.mainContainer {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-top: 56px;
    box-sizing: border-box;
}

.mainContent {
    display: flex;
    justify-content: center;
    width: 100%;
}
