.task {
    display: flex;
    justify-content: space-between;
    margin: 20px 70px 0 20px;
    color: rgb(48, 48, 48);
    font-size: 26px;
}
.check {
    outline: none;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 3px;
    margin-right: 10px;
}
.subtask {
    margin: 5px 200px 0 60px;
    color: rgb(48, 48, 48);
    font-size: 16px;
}
.taskMargin {
    margin: 30px 0;
}
.date {
    margin: 10px 200px 0 60px;
    color: rgb(48, 48, 48);
    font-size: 15px;
}
.paragraph {
    margin: 0 0 2px;
}
.button {
    margin: 0 3px;
    font-size: 14px;
    padding: 4px 8px;
    border: 2px solid rgba(0, 0, 0, 0.308);
    border-radius: 12px;
    background: white;
    cursor: pointer;
    transition: background 0.1s;
}
.button:hover {
    background-color: rgba(144, 145, 145, 0.5);
    transition: 0.2s;
}
