.mainContainer {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-top: 56px;
    box-sizing: border-box;
}

.mainContent {
    display: flex;
    justify-content: center;
    width: 100%;
}

.auth {
    padding-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authButton {
    margin-top: 30px;
}
